@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

a {text-decoration: none;color: rgb(30, 57, 91);}

ul {}

#signout { float: right;margin:5px 10px 0px 0px;color:gray; }
#signout a { color:gray;text-decoration: none; }


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.label {width:70px;float:left;text-align: right;margin:0px;}
.label_long {width:100px;float:left;text-align: right;margin:0px;}
.label_longer {width:150px;float:left;text-align: right;margin:0px;}
.label_longest {width:190px;float:left;text-align: right;margin:0px;}

.center-div {width: 100%;margin-left:auto;margin-right:auto;text-align: center;}

.login-item {margin-top:5px;margin-bottom:5px;}
#login_form {margin-top:30px;font-size: 16px;}
.login-item .button3 {font-size: 12px;}

.header {
	height: 110px;
	width: 100%;
/* 	background-color: #5a83bd; */
	background: url(../../images/header-bg2.png) repeat-x;
}

.navigation {
	float: left;
	width: 17%;
	border-top: solid 1px #8DB2E3;
}

.mainpanel {
	float: right;
	width: 83%;
	color: rgb(30, 57, 91);
	
}

.mainpanel .bb {border-bottom: dotted thin gray;}
.mainpanel .bb {border-bottom: dotted thin gray;}

.footer {
	clear: both;
	height: 15px;
	width: 100%;
	color:gray;
	text-align: center;
	padding-top:10px;
/* 	background-color: #8DB2E3; */
}

.footer a {
	text-decoration: none;
	color:gray;
}

fieldset {
	border: 1px solid #8DB2E3;
	margin: 8px;
/*	margin-left: 8px;
	margin-right: 8px;	*/
}

legend {
    margin-left: 10px;
    padding: 0px 10px;
    color: rgb(29, 89, 135);
    font-size: 13px;
    font-weight: bold;
}


.button {
/*	background: url(images/button.gif) left 0;*/
	color: #848484;
	text-decoration: none;
	height: 30px;
	cursor: hand;
}

.button:hover {
	background: url(images/button.gif) left -30px;
	height: 30px;
}

.button span {
/*	background:url(images/button.gif) right 0;*/
	padding: 7px 8px 7px 0;
	margin: 0 0 0 8px;
	height: 16px;
}

.button:hover span {
	background: url(images/button.gif) right -30px;
	color: #000;
	padding: 7px 8px 7px 0;
	margin: 0 0 0 8px;
	height: 16px;
}

.button2 {
	background: url(images/button.gif) left 0;
	color: #848484;
	text-decoration: none;
	height: 30px;
	cursor: hand;
	float: left;
	display: inline-block;
}

.button2:hover {
	background: url(images/button.gif) left -30px;
	height: 30px;
}

.button2 span {
	background:url(images/button.gif) right 0;
	padding: 7px 8px 7px 0;
	margin: 0 0 0 8px;
	height: 16px;
}

.button2:hover span {
	background: url(images/button.gif) right -30px;
	color: #000;
	padding: 7px 8px 7px 0;
	margin: 0 0 0 8px;
	height: 16px;
}

.button3 {
	border: 1px solid rgb(163, 185, 209);
	background: url("images/ui-bg_glass_85_dae6f4_1x400.png") repeat-x scroll 50% 50% rgb(218, 230, 244);
	font-weight: normal;
	color: rgb(30, 57, 91);
	font-size: 1em;
	position: relative;
	padding: 0px;
	margin-right: 0.1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	overflow: visible;
	border-radius: 2px 2px 2px 2px;
}

.button3 .button-text {
	padding: 0.4em 1em;
	display: block;
	line-height: 1.4;
	font-weight: normal;
	color: rgb(30, 57, 91);
	font-size: 1em;
	cursor: pointer;
	text-align: center;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url("images/ui-icons_469bdd_256x240.png");
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.toolbar {
    display: block;
    background-color: rgb(237, 245, 253);
    padding: 2px;
    height: 30px;
    border: 1px solid rgb(166, 201, 226);
    color: rgb(34, 34, 34);
    margin-left: 8px;
	margin-right: 8px;
}

.panel {
	padding: 3px 10px 10px 10px;
	margin: 3px 20px 5px 15px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	float:left;
	font-family: 'century gothic','Microsoft Yahei','NSimSun',Helvetica,Arial,sans-serif;
}

.panel .title {
	padding: 3px 5px;
	margin-bottom:10px;
    border-bottom: 1px dashed rgb(138, 155, 168);
    font-size: 16px;
}

.adaptive {width:150px;height:17px;overflow:auto;resize:none;}

.panel .title img {margin:0px;}
.panel .title .more {font-size: 12px;float: right;margin-top:6px;}

.panel .content img {margin:0px 5px;}
.panel .content .item {margin:8px 5px;}

.panel .content ul {list-style-type: none;margin:0px;padding: 0px;}
.panel .content li {float: left;margin:0px;}

/* #homepanel {background: url("images/left_content_bg.gif") repeat-x scroll center top transparent;} */

.mymodule {width:100%;height:100%;background: url("images/left_content_bg2.gif") repeat-x scroll center top transparent;}

.navigation UL {
	PADDING-BOTTOM: 0px;MARGIN: 0px 0px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.navigation LI {
	PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;cursor: pointer
}
.navigation .ui-treeList LI {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 3px;
}
.navigation .ui-treeList LI:first-letter {
	MARGIN: 5px 0px 0px 25px
}
.navigation .ui-treeList LI DIV.ui-treeList-toggle {
	POSITION: absolute; WIDTH: 16px; HEIGHT: 16px; TOP: -2px; LEFT: 5px
}